.heading {
    text-align: center;
    background-color: #222;
}

h1 {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 70px;
    word-wrap: break-word;
    color: white;
    font-family: 'Lobster', cursive;
}


img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.row, .card {
    display: flex;
}

h3{
    word-wrap: break-word;
}

p{
    word-wrap: break-word;
}
.navbar-nav {
    display: flex;
}
@media (min-width: 992px) {
    .navbar-nav {
        display: flex;
    }

}
h5 {
    font-size: 25px;
    font-weight: bold;
}