{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h1> {{name}} </h1>
        </div>
    </div>
    <div class="container" style="width: 1200px; margin:20px auto; columns:4; column-gap:40px; @media (maax-width:1200px){columns:3;">
        {% for article in news %}
        <div class="box" style="width:100%; margin:0 0 20px; padding:10px; background: #fff; overflow: hidden;">
            <img src="{{article.urlToImage}}" class="" style="max-width:100%;" alt="Loading image...">
            <h5 class="">{{article.title}}</h5>
            <p class="small">- {{article.author}} </p>
            <p class="">{{article.description}}...<a href={{article.url}} target="_blank">Read article</a></p>
            <p class=""><small class="text-muted">Posted on {{article.publishedAt}}</small></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}

