{% extends 'base.html'%} 
{% import 'macros.html' as macro %}

{% block content%}
<div class="co">
    <div class="card bg-dark text-white">
        <div style="background:url(/static/bg.jpg); width:100%; height:100%; text-align:center;">
            <h5 class="card-title" style="font-weight:bold;color:#fff;position:relative;letter-spacing:7px;margin:auto;font-family: 'Permanent Marker', cursive;">INIT NEWS</h5>
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">
            <div class=" categories">
                <h2>General News</h2>
            </div>
            {{macro.sourceCategories(general)}}
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">
            <div class="categories">
                <h2 >Business News</h2>
            </div>
            {{macro.sourceCategories(business)}}
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">
            <div class="categories">
                <h2>Entertainment News</h2>
            </div>
            {{macro.sourceCategories(entertainment)}}
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">    
            <div class="categories">
                <h2>Sports News</h2>
            </div>
            {{macro.sourceCategories(sports)}}
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">    
            <div class="categories">
                <h2>Technology News</h2>
            </div>
            {{macro.sourceCategories(tech)}}
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">
            <div class="categories">
                <h2>Science News</h2>
            </div>
            {{macro.sourceCategories(science)}}
        </div>
    </div>
    <hr>
    <div class="rows" style="display:flex;align-item:center;align-content:center;flex-derection:column;">
        <div style="width:32rem;background-color:#ebeef8;display:flex;flex-direction:column;align-item:center;justify-content:center;margin:2rem 0;box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.2);">
            <div class="categories">
                <h2>Health News</h2>
            </div>
            {{macro.sourceCategories(health)}}
        </div>
    </div>
</div>
{% endblock%}

