{% extends 'base.html'%} 
{% import 'macros.html' as macro %}

{% block content%}
<div class="col-md-3">
    <div class="card bg-dark text-white">
        <img src="/static/bg.jpg" class="card-img" id="top" alt="">
        <div class="card-img-overlay">
            <h5 class="card-title">INIT NEWS</h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 categories">
            <h2>General News</h2>
        </div>
        {{macro.sourceCategories(general)}}
    </div>
    <hr>
    <div class="row" id="business">
        <div class="col-md-3 categories">
            <h2 >Business News</h2>
        </div>
        {{macro.sourceCategories(business)}}
    </div>
    <hr>
    <div class="row" id="entertainment">
        <div class="col-md-3 categories">
            <h2>Entertainment News</h2>
        </div>
        {{macro.sourceCategories(entertainment)}}
    </div>
    <hr>
    <div class="row" id="sports">
        <div class="col-md-3 categories">
            <h2>Sports News</h2>
        </div>
        {{macro.sourceCategories(sports)}}
    </div>
    <hr>
    <div class="row" id="tech">
        <div class="col-md-3 categories">
            <h2>Technology News</h2>
        </div>
        {{macro.sourceCategories(tech)}}
    </div>
    <hr>
    <div class="row" id="science">
        <div class="col-md-3 categories">
            <h2>Science News</h2>
        </div>
        {{macro.sourceCategories(science)}}
    </div>
    <hr>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Health News</div>
        <div class="card-body">
            {{macro.sourceCategories(health)}}
        </div>
    </div>
</div>
{% endblock%}

